/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
    font-family: "JetBrains Mono", sans-serif;
    color: cornsilk;
    font-size: 1rem;
    line-height: 2rem;
    overflow-x: hidden;
    margin: 0;
}

.title_text {
    font-family: "Josefin Sans", sans-serif;
    color: cornsilk;
    font-size: 4rem;
    line-height: 5rem;
}

.copper_text {
    font-family: "Open Sans", sans-serif;
    color: #b87333
}

html {
    width: 100%;
    height: 100%;
    background-color: #708090;
}

.stats {
    font-family: "Open Sans", sans-serif;
    color: white;


}

.miniWindow_height {
    height: 400px;
}