@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
    font-family: "JetBrains Mono", sans-serif;
    color: cornsilk;
    font-size: 1rem;
    line-height: 2rem;
    overflow-x: hidden;
    margin: 0;
}

.title_text {
    color: #f2f1f1;
    font-size: 4rem;
    line-height: 5rem;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.green_custom_1 {
    color: #152514;
}

.green_custom_2 {
    background-color: #0bc900;
}

html {
    width: 100%;
    height: 100%;
    background-color: #DFD7D2;
}

.stats {
    font-family: "Open Sans", sans-serif;
    color: #f2f1f1;
}

.miniWindow_height {
    height: 400px;
}

.cinzel_text {
    font-family: 'Cinzel', serif;
}
