/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
    font-family: "JetBrains Mono", sans-serif;
    color: black;
    font-size: 2rem;
    line-height: 4rem;
}

.title_text {
    font-family: "Josefin Sans", sans-serif;
    color: black;
    font-size: 4rem;
    line-height: 6rem;
}